<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Intermediate_baru"
        tools:targetApi="31">
        <activity
            android:name=".STORY.RESEP.MAIN.Detail_resep"
            android:exported="false" />
        <activity
            android:name=".STORY.NEW_CAMERA.CAMERA"
            android:exported="false" />
        <activity
            android:name=".STORY.CAMERA.MAIN_CAMERA.MainCamea"
            android:exported="false" />
        <activity
            android:name=".STORY.MainPage"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".LOGOUT.Logout"
            android:exported="false" />
        <activity
            android:name=".REGISTER.RegisterAct"
            android:exported="false" />
        <activity
            android:name=".LOGIN.LoginAct"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>